

.navbar-nav {
  padding-left: 335px;
}

.nav-item {
  color: rgba(80, 83, 83, 1);
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 700;
  font-size: 14px;
}

.nav-link:hover {
  background-color: #B2D235;
  border-radius: 20px;
  color: #fff !important;
}

.example {
  display: flex;
  align-items: center;
  min-height: 54vh;
}

@media (max-width: 992px) {
	// TODO
}
