
.navbar-nav {
  padding-left: 335px;
}

.nav-item {
  color: rgba(80, 83, 83, 1);
  text-transform: uppercase;
  margin-left: 30px;
  font-weight: 700;
  font-size: 14px;
}

.nav-link:hover {
  background-color: #B2D235;
  border-radius: 20px;
  color: #fff !important;
}

@media (max-width: 1024px){
  .navbar-nav {
    display: initial;
  }

  .logo-image {
    width: 224px;
    height: 50px;
  }
}

@media (max-width: 736px){
  .navbar-nav {
    display: initial;
  }
  
  .navbar-toggler {
    display: flex;
  }

  .logo-image {
    width: 150px;
    height: 26.75px;
  }
}
