

.row {
  transform: translateY(-25%) !important;
}

.info {
  border: 1px solid #cccc;
  border-radius: 30px;
  text-align: center;
  padding-bottom: 50px;
  box-shadow: 0px 0px 10px
    rgba(0, 0, 0, 0.25);
}

.img-courser {
  padding: 35px;
  background-color: #3F6185;
  border-radius: 30px;
}

.color {
  background-color: rgba(220, 89, 76, 1);
}

.courser-title {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  font-family: $main-font;
}

.courser-title a {
  color: $main-color;
}

.courser-title a:hover {
  text-decoration: none;
  color: #3F6185;
}
.courser-text {
  text-align: center;
  font-size: 14px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 20px;
  font-family: $main-font;
}

.btn-courser {
  border-radius: 45px;
  color: #fff;
  background-color: rgba(178, 210, 53, 1);
  border: 0;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);;
  padding: 11px 35px;
  font-weight: 700;
  font-family: $main-font;
}

h1 {
  text-align: center;
  font-weight: 700;
  font-size: 90px;
  font-family: $main-font;
}

.Other-Courser {
  padding-top: 275px;
}

.blue {
  background-color: rgba(36, 171, 226, 1);
}

.dark-blue {
  background-color: rgba(27, 117, 187, 1);
}

.line {
  height: 7px;
  width: 45%;
  background-color: $main-color;
  border-radius: 50px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  font-family: $main-font;
}

h2 a {
  color: $main-color;
}

h2 a:hover {
  text-decoration: none;
  color: #3F6185;
}

@media only screen and (max-width: 768px){
    .layout {
      margin-top: -275px;
    }

    .Courser {
      padding-top: 106px;
    }

    .row {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 165px;
    }

    .info {
      display: flex;
      padding-bottom: 0px;
      background-color: #fff;
    }
    .courser-title {
      text-align: left;
    }
    .courser-text {
      width: 100%;
      text-align: left;
      
    }
}
