.line-feed {
    height: 7px;
    width: 25%;
    background-color: #b2d235;
    border-radius: 50px;
    margin: 0 auto;
}

.feed-title {
    text-align: center;
    line-height: 30.65px;
    font-size: 25px;
}

.slider {
    margin: 0px -15px 100px 0;
    padding-top: 40px;
  }
  
  .slider-item {
    padding: 0 15px;
  
    .slider-message {
      position: relative;
      padding: 41px 28px 33.5px 45px;
      background: #FFFFFF;
      border: 0.5px solid #E2E2E2;
      border-radius: 10px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.15);
    }
  
    .slider-message::before {
      position: absolute;
      display: block;
      content: "";
      width: 5px;
      height: 108px;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);
      background-color: #D9DADC;
    }
  
    .slider-message:after {
      position: absolute;
      display: block;
      content: "";
      width: 29px;
      left: 26px;
      bottom: -42px;
      border-style: solid;
      border-color: #FFF transparent transparent  transparent;
      border-width: 21.25px;
    }
  
    .slider-user {
      margin-top: 25px;
      display: flex;
      align-items: center;  
    }
  }
  
  .slider-user {
    font-family: "UTM BryantLG";
  
    img {
      width: 60px;
      height: 60px;
      margin: 0 10px 0 28px;
    }
  
    .user-info {
      font-weight: 700;
  
      .user-name {
        font-size: 20px;
        color: #11114E;
      }
  
      .user-language {
        font-size: 16px;
      }
    }
  }
  
  .user-star-icon {
    font-size: 14px;
    color: #F2C54F;
  }
  
  .slick-slider {
    .slick-prev,
    .slick-next {
      position: absolute;
      top: 25%;
      transform: translateY(-25%);
      background-color: #FFF;
      border-radius: 50%;
      border: 0.5px solid #C4C4C4; 
      z-index: 2;
      padding: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      i {
        font-size: 20px;
        color: #969494;
      }
    }
  
    .slick-prev {
      left: 0;
    }
  
    .slick-prev::before {
      content: "";
    }
  
    .slick-next {
      right: 0;
    }
  
    .slick-next::before {
      content: "";
    }
  }
