.statistic {
    margin-top: 75px;
    padding-bottom: 100px;
}

.member {
    background-image: url('/images/Group_7.png');
    background-size: cover;   
}

.member-info {
    text-align: center;
    padding: 135px 0px 218px 236px;
}
.member-text {
    font-size: 60px;
    line-height: 40px;
    color: white;
    font-family: UTM BryantLG;
    
}

.btn-member {
    border-radius: 45px;
    color: #90AB26;
    background-color: #fff;
    border: 0;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);;
    padding: 15px 50px;
    font-weight: 700;
    font-family: UTM BryantLG;
    font-size: 30px;
}

.line-sta {
    height: 7px;
    width: 25%;
    background-color: #b2d235;
    border-radius: 50px;
    margin: 0 auto;
}

.sta {
    padding-top: 75px;
    text-align: center;
}

.sta-title {
    font-family: UTM BryantLG;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.05em;
    padding-bottom: 35px;
}

.sta-number {
    font-family: UTM BryantLG;
    font-size: 60px;
    font-weight: 700;
    line-height: 74px;
    letter-spacing: -0.05em;
    color: #b2d235;
}