.container-search {
  margin-top: 40px;
  margin-right: 0;
  margin-left: 15px;

  .filter-form {
    padding: 10px;
    margin-left: -15px;
    display: none;
  }

  .btn-filter {
    padding: 9px 13px;
    color: black;
  }

  .input-search {
    padding: 9px 43px 9px 13px;
    width: 355px;
  }

  .btn-search-icon {
    padding: 7px;
    border: 0;
    border-radius: 5px;
    background-color: white;
    transform: translateX(-40px);

    .search-icon {
      font-size: 20px;
      color : $main-color;
    }
  }

  .btn-submit-search {
    background: $main-color;
    border: 1px solid $silver;
    border-radius: 5px;
    padding: 8px 12px;
    color: white;
    margin-left: -30px;
  }
}

.border-btn-input {
  background: white;
  border: 1px solid $silver;
  border-radius: 5px;
}

.container-courses {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.courses-item {
  background: white;
  border: 1px solid $silver;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  min-width: 540px;
  height: 350px;
  margin-top: 20px;

  .course-info {
    margin-top: 30px;
    border-bottom: 1px solid $silver;
  }

  .course-img {
    width: 89px;
    height: 89px;
    border-radius: 50%;
    padding: 5px;
  }

  .info-detail {
    font-size: 18px;
    margin-left: 20px;

    .course-name {
      font-size: 25px;
      color: black;
      font-family: $main-font;
      font-weight: 700;
    }

    .course-description {
      font-size: 18px;
      color: black;
      font-family: $main-font;
      margin-top: 10px;
      text-align: left;
    }

    .btn-detail {
      padding: 5px 20px;
      background: $main-color;
      box-shadow: inset 0 2px 4px $silver;
      border-radius: 22px;
      color: white;
      font-size: 18px;
      float:right;
      margin-top: 10px;
      margin-bottom: 40px;
    }
  }

  .course-statistic {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;

    .learners-title,
    .lessons-title,
    .times-title {
      font-weight: 700;
      font-size: 25px;
      color: black;
      font-family: $main-font;
    }

    .learners-number,
    .lessons-number,
    .times-number {
      font-size: 26px;
      font-family: $main-font;
      color: $main-color;
      font-weight: 700;
      margin-top: 10px;
      text-align: center;
    }
  }
}

.newest,
.oldest {
  display: inline-block;
  cursor: pointer;
  color: white;
  border-radius: 0.25em;
  background: gray;
  box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0 -3px 0 rgba(0,0,0,0.22);
  transition: 0.3s;
  user-select: none;
  padding: 5px 15px;

  &:active {
    transform: translateY(2px);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2), inset 0px -1px 0 rgba(0,0,0,0.22);
  }
}

#newest:checked + .newest,
#oldest:checked + .oldest {
  background: $main-color;
  color: white;
}

.mr-30 {
  margin-right: 30px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.ml-75 {
  margin-left: 75px;
}

.hidden {
  display: none;
}

.select2-container {
  .select2-selection--single,
  .select2-selection--multiple {
    min-width: 180px;
    height: 34px;
  }
}

.select2-container {
  width: 180px !important;
}

.container-search {
  .filter-form {
    &.active {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.pagination {
  margin-bottom: 0;
  margin-top: 20px;
  justify-content: flex-end;
  .page-item {
    padding-right: 6px;
  }
  .page-link {
    color: $main-color;
    border: 1px solid $main-color;
    &:hover {
      background-color: $main-color;
      color: white;
    }
  }
}
.page-item {
  &.active {
    .page-link {
      background-color: $main-color;
      border-color: $main-color;
    }
  }
}
.page-item {
  &.disabled {
    .page-link {
      background-color: $main-color;
      color: white;
    }
  }
}